.product {
  text-align: center;
  background-color: silver;
  height: 500px;
  border-radius: 5px;
  margin-left: 650px;
}

.styling {
  background-color: blue;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  color: white;
}